:root{
    --cor-principal-barras: #3E5962;
    --cor-texto-principal: #172930;
    --cor-texto-secundario: #73797f;
    --cor-texto-barra: #FCF9F6;
    --fonte-principal-barras: #3E5962;
    --cor-hover: #85a99d;
}

  #divConteudo{
      display: flex;
      flex-wrap: wrap;
  }

  .card{
      width: 270px;
      height: 500px;
      box-shadow: 0px 0px 10px #999;
      border-radius: 10px;
      margin: 10px;
      border: solid 1px #EEE;
  }

  #livros{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;

  }

  .card-capa{
      width: 100%;
      height: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .card-capa img{
      width: 65%;
      height: 90%;
      padding-top: 10px;
       /* padding-left: 20px;*/
      /*  padding-top: 10px;*/
       justify-content: center;
       align-items: center;
       /*border-radius: 10px 10px 0px 0px;*/
}

.card-corpo{
    width: 100%;
    height: 30%;
    padding: 10px;
    box-sizing: border-box;
}

.card-rodape{
    width: 100%;
    height: 15%;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-corpo-titulo{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-rodape-preco,
.card-rodape-comentario,
.card-rodape-avaliacao {
    width: 33%;
    height: 100%;
    display: flex;

    font-size: 12px;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.card-rodape-preco:hover,
.card-rodape-comentario:hover,
.card-rodape-avaliacao:hover {
    background-color: #99F6FE;
}

.titulo-livro{
    color: var(--cor-texto-principal);
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

.autores{
    color: var(--cor-texto-secundario);
    font-family: Arial, sans-serif;
    margin-top: 10px;
    font-size: 12px;
}

.preco-livro{
    color: var(--cor-texto-principal);
    font-family: Arial, sans-serif;
    margin-top: 10px;
    font-size: 16px;
}

#termo-pesquisa{
    height: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 300px;
    text-align: left;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    color: var(--cor-texto-principal);
}

.carrinho-lateral {
    position: fixed;
    top: 0;
    right: -400px; /* Esconde a barra lateral para a direita */
    width: 400px;
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s; /* Para animar a barra lateral */
    z-index: 100; /* Garante que ela fique acima de outros elementos */
}

.carrinho-lateral.mostrar {
    right: 0; /* Mostra a barra lateral */
}

.botao-fechar-carrinho {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
}

.itens-carrinho {
    padding-left: 20px;
    padding-right: 20px;
    max-height: 700px;
    overflow-y: auto;
}

.item-carrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    margin-top: 10px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.titulo-livro {
    flex-grow: 1;
    margin-right: 10px;
}

.preco-livro {
    white-space: nowrap;
}

.quantidade-livro {
    display: flex;
    align-items: center;
}

.btn-quantidade {
    border: none;
    background-color: var(--cor-principal-barras);
    color: var(--cor-texto-barra);
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-quantidade:active {
    background-color: #cacaca;
}

.input-quantidade-carrinho{
    border: 1px solid #ccc;
    text-align: center;
    width: 40px;
    color: var(--cor-texto-principal);
}

.item-carrinho {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.capa-livro {
    width: 60px; /* Ou a largura desejada para a miniatura */
    height: auto;
    margin-right: 10px;
}

.info-livro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-livro {
    margin-bottom: 5px; /* Espaço entre o título e o preço */
}

.quantidade-livro {
    display: flex;
    align-items: center;
}

body{
    font-family: Arial, sans-serif;
}

.total-carrinho {
    font-weight: bold;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 20px;
    color: var(--cor-texto-secundario);
}

/* Estilo do modal */
.modal {
    display: none; /* Oculta o modal por padrão */
    position: fixed; /* Fixo na tela */
    left: 50%;
    top: 50%;
    width: 100%; /* Largura total */
    height: 100%; /* Altura total */
    overflow: auto; /* Adiciona scroll se necessário */
    background-color: rgba(0,0,0,0.4); /* Fundo preto com opacidade */
    transform: translate(-50%, -50%);
    z-index: 200;
}

/* Estilo do conteúdo do modal */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% do topo e centralizado */
    padding: 20px;
    border: 1px solid #888;
    border-radius: 10px;
    width: 280px; /* Pode ser mais ou menos, dependendo do design */
}

/* O botão de fechar */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.botao-modal{
    padding: 10px 20px;
    background-color: var(--cor-principal-barras);
    color: var(--cor-texto-barra);
    border: none;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px;
}

.botao-modal-cancel{
    padding: 10px 20px;
    background-color: var(--cor-texto-barra);
    color: var(--cor-texto-principal);
    border: 1px solid #ccc;
    cursor: pointer;
    transition: 0.3s;
    border-radius: 5px;
    margin: 20px;
}


.botao-modal:hover{
    background-color: var(--cor-hover);
}

.botao-modal-cancel:hover{
    background-color: var(--cor-texto-principal);
    color: var(--cor-texto-barra);
}

/* Estilo do modal de login */
#modalLogin {
    position: fixed; /*fixo na janela para não subir quando rolar a barra de rolagem*/
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    width: 100%;
    height: 100%;
}

.modal-login-content {
    position: relative;
    background-color: #fefefe;
    border-radius: 10px;
    padding: 20px;
    width: 400px;
    margin: 0 auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    border: 1px solid #888;

}

.modal-login-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/*
.login-popup {
    position: center;
}
*/


.botao-fechar-login {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 30px;
    background: none;
    cursor: pointer;
    border: none;
}
/*
.botao-fechar-login:hover{
    background-color: var(--cor-hover);
}
*/
.dados-login {
   /* margin-bottom: 20px;*/
}

.dados-login label {
    display: block;
    margin-bottom: 5px;
}
/*
.dados-login input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}*/

