:root{
    --cor-principal-barras: #3E5962;
    --cor-texto-principal: #172930;
    --cor-texto-secundario: #73797f;
    --cor-texto-barra: #FCF9F6;
    --fonte-principal-barras: #3E5962;
    --cor-hover: #85a99d;
}

  #divConteudo{
      display: flex;
      flex-wrap: wrap;
  }

  .card{
      width: 270px;
      height: 500px;
      box-shadow: 0px 0px 10px #999;
      border-radius: 10px;
      margin: 10px;
      border: solid 1px #EEE;
  }

  #livros{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-content: flex-start;

  }

  .card-capa{
      width: 100%;
      height: 55%;
      display: flex;
      justify-content: center;
      align-items: center;
  }

  .card-capa img{
      width: 65%;
      height: 90%;
      padding-top: 10px;
       /* padding-left: 20px;*/
      /*  padding-top: 10px;*/
       justify-content: center;
       align-items: center;
       /*border-radius: 10px 10px 0px 0px;*/
}

.card-corpo{
    width: 100%;
    height: 30%;
    padding: 10px;
    box-sizing: border-box;
}

.card-rodape{
    width: 100%;
    height: 15%;
    border-radius: 0px 0px 10px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.card-corpo-titulo{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.card-rodape-preco,
.card-rodape-comentario,
.card-rodape-avaliacao {
    width: 33%;
    height: 100%;
    display: flex;

    font-size: 12px;
    cursor: pointer;

    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
}

.card-rodape-preco:hover,
.card-rodape-comentario:hover,
.card-rodape-avaliacao:hover {
    background-color: #99F6FE;
}

.titulo-livro{
    color: var(--cor-texto-principal);
    font-family: Arial, sans-serif;
    font-size: 16px;
    padding-top: 10px;
}

.autores{
    color: var(--cor-texto-secundario);
    font-family: Arial, sans-serif;
    margin-top: 10px;
    font-size: 12px;
}

.preco-livro{
    color: var(--cor-texto-principal);
    font-family: Arial, sans-serif;
    margin-top: 10px;
    font-size: 16px;
}

#termo-pesquisa{
    height: 30px;
    font-family: Arial, sans-serif;
    font-size: 16px;
    width: 300px;

}

.carrinho-lateral {
    position: fixed;
    top: 0;
    right: -400px; /* Esconde a barra lateral para a direita */
    width: 400px; /* Ou a largura que você preferir */
    height: 100%;
    background: white;
    box-shadow: -2px 0 5px rgba(0,0,0,0.5);
    transition: right 0.3s; /* Para animar a barra lateral */
    z-index: 1000; /* Garante que ela fique acima de outros elementos */
}

.carrinho-lateral.mostrar {
    right: 0; /* Mostra a barra lateral */
}

.botao-fechar-carrinho {
    position: absolute;
    top: 10px;
    right: 15px;
    border: none;
    background: none;
    font-size: 30px;
    cursor: pointer;
}

.itens-carrinho {
    padding-left: 20px;
    padding-right: 20px;
    overflow-y: auto;
}

.item-carrinho {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
    margin-top: 20px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.titulo-livro {
    flex-grow: 1;
    margin-right: 10px;
}

.preco-livro {
    white-space: nowrap;
}

.quantidade-livro {
    display: flex;
    align-items: center;
}

.btn-quantidade {
    border: none;
    background-color: var(--cor-principal-barras);
    color: var(--cor-texto-barra);
    padding: 5px 10px;
    cursor: pointer;
    margin: 0 5px;
}

.btn-quantidade:active {
    background-color: #cacaca;
}

input[type="text"] {
    border: 1px solid #ccc;
    text-align: center;
    width: 40px;
}

.item-carrinho {
    display: flex;
    align-items: center;
    justify-content: flex-start; /* Alinha os itens à esquerda */
    margin-bottom: 15px;
    padding: 10px;
    background-color: #f2f2f2;
    border-radius: 4px;
}

.capa-livro {
    width: 60px; /* Ou a largura desejada para a miniatura */
    height: auto;
    margin-right: 10px;
}

.info-livro {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.titulo-livro {
    margin-bottom: 5px; /* Espaço entre o título e o preço */
}

.quantidade-livro {
    display: flex;
    align-items: center;
}

h2 {
    color: #444;
    border-bottom: 2px solid #eee;
    color: var(--cor-texto-secundario);
    font-family: Arial, sans-serif;
    padding-left: 50px;
    margin-left: 10px;
    margin-right: 10px;
}
